<%%= form_for @<%= singular_table_name %> do |f| -%>
  <table class="grid_form">
    <tbody>
<% attributes.reject{|attr| default_columns.include?(attr.name) }.each do |attribute| -%>
      <tr>
        <td class="field"><%= required_tag(attribute.name) %><%%= f.label :<%= attribute.name %> %></td>
        <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %>, size: 30 %></td>
      </tr>
<% end -%>
      <tr>
        <td class="field"></td>
        <td><%%= f.submit '提交' %></td>
      </tr>
    </tbody>
  </table>
  
<%% end -%>


