<%#-*- coding: utf-8 -*-%>
<h1 class="title">
  <span class="title_left"><%= model_human_name %>详情页面</span>
  <span class="title_right">
    <%%= link_to "编辑", [:edit, @<%= singular_table_name %>], style: "margin-right: 10px;" %>
    <%%= link_to "返回列表", <%= plural_table_name %>_path %>
  </span>
</h1>

<table class="grid_form">
  <tbody>
<% attributes.each do |attribute| -%>
    <tr>
      <td class="field"><%= human_attribute_name(attribute.name) %></td>
      <td>
        <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>
