<%=render "/common/page_nav"%>
<%=render '/common/info_category_label'%>
<div class="content finacial_info">
  <ul>
    <% @categories.each do |category|%>
      <li>
        <span><%= category.name %>：</span>
        <span class="info"><%= category.current_info_value_by_store %></span>
      </li>
    <%end%>
  </ul>
  <div class="btn_group">
    <%=link_to '编辑', edit_mis_store_financial_infos_path(@store), class: 'btn edit_btn' %>
  </div>
</div>
