<%=form_for @store, url: mis_store_chain_path do |f|%>
  <div class="wrap">
    <div class="information">
      <ul>
        <li>
          <i class="fa fa-asterisk"></i>
          <span>门店名称：</span>
            <%=f.text_field :name, value: @store.name, required: "required" %>
          <span class="tips">带*选项为必填选项</span>
        </li>
        <li>
          <i class="fa fa-asterisk"></i>
          <span>负责人：</span>
          <%=f.fields_for :admin do |ff|%>
            <%= ff.hidden_field :id, value: @store.admin_id %>
            姓：<%=ff.text_field :last_name, class: 'nfo width-80', value: @store.admin.last_name, required: "required" %>
            名：<%=ff.text_field :first_name, class: 'nfo width-80', value: @store.admin.first_name, required: "required" %>
          <%end%>
        </li>
        <% @categories.each do |category| %>
          <%= category.render(self) %>
        <% end %>
      </ul>
    </div>
    <div class="store_image">
      <div class="image">
        <%= image_tag 'uploaded_store_pic.png' %>
      </div>
    </div>
  </div>
  <div class="btn_group">
    <%=f.submit '保存', class: 'edit_btn btn' %>
  </div>
<%end%>
