<li id="<%=@ca_station.id%>_li"><input type='text' value="<%=@ca_station.name%>" ><input type='text'  value="<%=@ca_station.quantity%>">个<i id="station_<%=@ca_station.id%>" class='fa fa-close cursor-pointer' data-id="<%=@ca_station.id%>" data-store="<%=@store.id%>"></i></li>
